.Toolbar{
    height: 56px;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.Toolbar nav{
    height: 100%;
}

@media (max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}