.container-workout-review {
  display: flex;
  margin: 0 auto;
  //   width: 100%;
  justify-content: center;
  //   background-color: rgb(207, 207, 207);
  flex-flow: column;
  align-items: center;
  &__list-exercise {
    margin-top: 1rem;
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
