.container-workout-routine{
    display: flex;
    flex-flow: column;
    .workout-routine-indicator{
        display: flex;
        width: 40%;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 1em !important;
        margin: 0 auto;
        justify-content: space-evenly;
        .indicator-exercise{
            flex: 0 0 40%;
            border-radius: 1em !important;
            // background-color: rgb(189, 189, 189);
            // height: 160px;
        }
        .indicator-rest{
            flex: 0 0 30%;
            border-radius: 1em !important;
            // height: 160px;
            // align-items: center;
            // display: flex;
            // justify-content: center;
        }
    }
}