.list__item-draft{
    display: flex;
    width: 60%;
    height: 5em;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.25rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 3rem auto;
    button{
        height: 40px;
        width: 40px;
        border-radius: 50% !important;
    }
}