@import '~bootstrap/scss/bootstrap';
$--red : blue;

body{
    background-color: #ffffff;
// background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    height: 100vh;
}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    // border-radius: 0%;
    // background-color: #f9f9f9;
}
button{
    border-radius: 1em !important;
}
.form-control{
    border-radius: 1em;
}
label{
    margin-left: 0.3rem;
}