@import "../../../../shared/breakpoints.scss";
.list__item-exercise {
  display: flex;
  width: 100%;
  min-height: 5em;
  height: 86px;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  border-radius: 0.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 1rem auto;
  @media screen and (min-width: $screen-md-min) {
    width: 60%;
  }
  @media screen and (min-width: $screen-lg-min) {
    width: 60%;
  }
  @media screen and (min-width: $screen-xl-min) {
    width: 30%;
  }
  .list_item-details {
    margin-top: 10px;
    display: flex;
    // flex-flow: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
  .exercise_progress {
    width: 96%;
    &__indicator {
      height: 10px;
      border-radius: 1em;
      background-color: #dc3545;
      transition: width 1s cubic-bezier(0.5, 0.25, 0, 1);
    }
  }
}
